Repository elastic/eui, pull requests merged in 2019-12, with the labels that each got.

#2571 Upgrade React to v16.12.0
  CHANGELOG.md
  package.json
  src/components/button/button.tsx
  src/components/button/button_icon/button_icon.tsx
  yarn.lock
Labels: breaking change

#2588 Alter `id` on `EuiFormRow` wrapping element
  CHANGELOG.md
  src/components/form/described_form_group/__snapshots__/described_form_group.test.js.snap
  src/components/form/form_row/__snapshots__/form_row.test.js.snap
  src/components/form/form_row/form_row.js
Labels: accessibility, breaking change

#2603 [Data Grid] made numeric sorting look at the full field value
  CHANGELOG.md
  src/components/datagrid/data_grid.test.tsx
  src/components/datagrid/data_grid_schema.tsx
Labels: data grid

#2613 [Icon] Update securityAnalyticsApp and logoSecurity
  CHANGELOG.md
  src/components/icon/__snapshots__/icon.test.tsx.snap
  src/components/icon/assets/app_security_analytics.js
  src/components/icon/assets/app_security_analytics.svg
  src/components/icon/assets/logo_security.js
  src/components/icon/assets/logo_security.svg
Labels: icons

#2594 Adds toolbarAdditionalControls prop to EuiDataGrid
  CHANGELOG.md
  src-docs/src/views/datagrid/additional_controls.js
  src-docs/src/views/datagrid/datagrid_example.js
  src-docs/src/views/datagrid/datagrid_styling_example.js
  src-docs/src/views/datagrid/props.tsx
  src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  src/components/datagrid/data_grid.test.tsx
  src/components/datagrid/data_grid.tsx
  src/components/datagrid/data_grid_types.ts
Labels: data grid

#2627 EuiTreeView now accepts classes per node and has truncation built in
  CHANGELOG.md
  src-docs/src/components/guide_components.scss
  src-docs/src/views/tree_view/compressed.js
  src-docs/src/views/tree_view/tree_view.js
  src-docs/src/views/tree_view/tree_view_example.js
  src/components/tree_view/__snapshots__/tree_view.test.tsx.snap
  src/components/tree_view/tree_view.scss
  src/components/tree_view/tree_view.test.tsx
  src/components/tree_view/tree_view.tsx
Labels: bug, feature request

#2633 Initial setup for Amsterdam theme
  .github/pull_request_template.md
  CHANGELOG.md
  src-docs/src/components/guide_theme_selector/guide_theme_selector.js
  src-docs/src/index.js
  src-docs/src/theme_amsterdam_dark.scss
  src-docs/src/theme_amsterdam_light.scss
  src-docs/src/views/guidelines/colors.js
  src-docs/src/views/guidelines/sass.js
  src/theme_amsterdam_dark.scss
  src/theme_amsterdam_light.scss
  src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss
  src/themes/eui-amsterdam/eui_amsterdam_colors_light.scss
  src/themes/eui-amsterdam/global_styling/index.scss
  src/themes/eui-amsterdam/global_styling/mixins/_index.scss
  src/themes/eui-amsterdam/global_styling/mixins/_panel.scss
  wiki/theming.md
Labels: documentation, style only

#2691 [ICON] Adding annotation icon
  CHANGELOG.md
  src-docs/src/views/icon/icons.js
  src/components/icon/__snapshots__/icon.test.tsx.snap
  src/components/icon/assets/annotation.js
  src/components/icon/assets/annotation.svg
  src/components/icon/icon.tsx
Labels: icons

#2696 Added initialWidth and isResizable configurables to EuiDataGridColumn
  CHANGELOG.md
  src-docs/src/views/datagrid/column_widths.js
  src-docs/src/views/datagrid/datagrid.js
  src-docs/src/views/datagrid/datagrid_example.js
  src-docs/src/views/datagrid/datagrid_styling_example.js
  src/components/datagrid/data_grid.test.tsx
  src/components/datagrid/data_grid.tsx
  src/components/datagrid/data_grid_header_row.tsx
  src/components/datagrid/data_grid_types.ts
Labels: data grid
