Repository elastic/eui, pull requests merged in 2019-11, with the labels that each got.

#2521 EuiCard a11y
  CHANGELOG.md
  src-docs/src/components/guide_page/guide_page_chrome.js
  src-docs/src/views/card/card_children.js
  src-docs/src/views/card/card_example.js
  src-docs/src/views/card/card_footer.js
  src-docs/src/views/card/card_layout.js
  src-docs/src/views/card/card_selectable.js
  src-docs/src/views/home/home_view.js
  src/components/card/__snapshots__/card.test.tsx.snap
  src/components/card/__snapshots__/card_graphic.test.tsx.snap
  src/components/card/__snapshots__/card_select.test.tsx.snap
  src/components/card/_card.scss
  src/components/card/_card_graphic.scss
  src/components/card/_index.scss
  src/components/card/card.test.tsx
  src/components/card/card.tsx
  src/components/card/card_graphic.test.tsx
  src/components/card/card_graphic.tsx
  src/components/card/card_select.tsx
  src/components/card/index.ts
  src/components/index.js
Labels: accessibility, breaking change

#2550 [DATA GRID] Avoid schema detection on columns which already have a schema
  CHANGELOG.md
  src-docs/src/views/datagrid/datagrid_schema_example.js
  src/components/datagrid/data_grid.tsx
  src/components/datagrid/data_grid_schema.tsx
Labels: data grid

#2357 Adds a11y docs
  CHANGELOG.md
  src-docs/src/components/guide_page/guide_page_chrome.js
  src-docs/src/components/guide_rule/_guide_rule_example.scss
  src-docs/src/components/guide_rule/guide_rule_example.js
  src-docs/src/components/guide_section/guide_section.js
  src-docs/src/routes.js
  src-docs/src/views/app_view.js
  src-docs/src/views/form_compressed/form_compressed_example.js
  src-docs/src/views/guidelines/accessibility.js
  src/components/call_out/__snapshots__/call_out.test.tsx.snap
  src/components/call_out/_call_out.scss
  src/components/call_out/call_out.test.tsx
  src/components/call_out/call_out.tsx
Labels: accessibility, documentation

#2559 Fixed EuiBetaBadge a11y
  CHANGELOG.md
  src/components/badge/beta_badge/_beta_badge.scss
  src/components/badge/beta_badge/beta_badge.tsx
  src/components/card/card.tsx
Labels: accessibility
