Repository elastic/eui, pull requests merged in 2020-06, with the labels that each got.

#3524 Dark EuiHeader
  CHANGELOG.md
  src-docs/src/views/header/header_alert.js
  src-docs/src/views/header/header_dark.tsx
  src-docs/src/views/header/header_example.js
  src-docs/src/views/header/header_links.js
  src-docs/src/views/header/header_position.js
  src-docs/src/views/header/header_updates.js
  src/components/header/__snapshots__/header.test.tsx.snap
  src/components/header/_header.scss
  src/components/header/_header_logo.scss
  src/components/header/_index.scss
  src/components/header/_mixins.scss
  src/components/header/_variables.scss
  src/components/header/header.test.tsx
  src/components/header/header.tsx
  src/components/header/header_links/__snapshots__/header_link.test.tsx.snap
  src/components/header/header_links/__snapshots__/header_links.test.tsx.snap
  src/components/header/header_links/_header_link.scss
  src/components/header/header_links/_header_links.scss
  src/components/header/header_links/header_link.test.tsx
  src/components/header/header_links/header_link.tsx
  src/components/header/header_links/header_links.tsx
  src/components/header/header_section/header_section_item.tsx
  src/components/nav_drawer/_variables.scss
  src/themes/eui-amsterdam/global_styling/variables/_header.scss
  src/themes/eui-amsterdam/global_styling/variables/_index.scss
  src/themes/eui-amsterdam/overrides/_header.scss
  src/themes/eui-amsterdam/overrides/_index.scss
Labels: Amsterdam

#3535 [Docs] Add snippet to EuiBeacon
  src-docs/src/views/beacon/beacon_example.js
Labels: documentation

#3294 a11y rework of [EuiPagination] and friends
  CHANGELOG.md
  src-docs/src/components/guide_page/guide_page_chrome.js
  src-docs/src/views/datagrid/additional_controls.js
  src-docs/src/views/datagrid/container.js
  src-docs/src/views/datagrid/in_memory.js
  src-docs/src/views/datagrid/in_memory_pagination.js
  src-docs/src/views/datagrid/in_memory_sorting.js
  src-docs/src/views/pagination/centered_pagination.js
  src-docs/src/views/pagination/customizable_pagination.js
  src-docs/src/views/pagination/few_pages.js
  src-docs/src/views/pagination/many_pages.js
  src-docs/src/views/pagination/pagination_example.js
  src-docs/src/views/tables/custom/custom.js
  src/components/basic_table/__snapshots__/basic_table.test.tsx.snap
  src/components/basic_table/__snapshots__/in_memory_table.test.tsx.snap
  src/components/basic_table/basic_table.test.tsx
  src/components/basic_table/basic_table.tsx
  src/components/basic_table/in_memory_table.test.tsx
  src/components/basic_table/pagination_bar.tsx
  src/components/common.ts
  src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  src/components/datagrid/data_grid.tsx
  src/components/pagination/__snapshots__/pagination.test.tsx.snap
  src/components/pagination/__snapshots__/pagination_button.test.tsx.snap
  src/components/pagination/_pagination.scss
  src/components/pagination/_pagination_button.scss
  src/components/pagination/pagination.tsx
  src/components/pagination/pagination_button.test.tsx
  src/components/pagination/pagination_button.tsx
  src/components/table/__snapshots__/table.test.tsx.snap
  src/components/table/table.tsx
  src/components/table/table_pagination/__snapshots__/table_pagination.test.tsx.snap
  src/components/table/table_pagination/table_pagination.tsx
Labels: accessibility, breaking change

#3502 Adding a11y tests and moving from whitelist to blacklist + misc fixes
  CHANGELOG.md
  scripts/a11y-testing.js
  src-docs/src/components/guide_page/guide_page_chrome.js
  src-docs/src/views/datagrid/datagrid_focus_example.js
  src-docs/src/views/header/header.js
  src-docs/src/views/header/header_app_menu.js
  src-docs/src/views/header/header_dark.tsx
  src-docs/src/views/header/header_links.js
  src-docs/src/views/header/header_sections.js
  src-docs/src/views/header/header_spaces_menu.js
  src-docs/src/views/header/header_user_menu.js
  src-docs/src/views/key_pad_menu/key_pad_menu_example.js
  src/components/header/header_links/__snapshots__/header_links.test.tsx.snap
  src/components/header/header_links/header_links.tsx
  src/components/key_pad_menu/__snapshots__/key_pad_menu.test.tsx.snap
  src/components/key_pad_menu/__snapshots__/key_pad_menu_item.test.tsx.snap
  src/components/key_pad_menu/key_pad_menu.tsx
  src/components/key_pad_menu/key_pad_menu_item.tsx
Labels: accessibility, chore, test

#3517 use `KeyboardEvent.keys` instead of `KeyboardEvent.keyCodes`
  CHANGELOG.md
  src-docs/src/views/app_view.js
  src-docs/src/views/window_event/window_event_conflict.js
  src/components/accessibility/keyboard_accessible.test.tsx
  src/components/accessibility/keyboard_accessible.ts
  src/components/basic_table/in_memory_table.test.tsx
  src/components/code/_code_block.tsx
  src/components/code_editor/code_editor.test.tsx
  src/components/code_editor/code_editor.tsx
  src/components/collapsible_nav/collapsible_nav.tsx
  src/components/color_picker/color_picker.test.tsx
  src/components/color_picker/color_picker.tsx
  src/components/color_picker/color_stops/color_stop_thumb.tsx
  src/components/color_picker/color_stops/color_stops.test.tsx
  src/components/color_picker/color_stops/color_stops.tsx
  src/components/color_picker/saturation.tsx
  src/components/combo_box/combo_box.test.tsx
  src/components/combo_box/combo_box.tsx
  src/components/combo_box/combo_box_options_list/combo_box_option.tsx
  src/components/context_menu/context_menu_panel.test.tsx
  src/components/context_menu/context_menu_panel.tsx
  src/components/datagrid/data_grid.test.tsx
  src/components/datagrid/data_grid.tsx
  src/components/datagrid/data_grid_cell.tsx
  src/components/datagrid/data_grid_control_header_cell.tsx
  src/components/datagrid/data_grid_header_cell.tsx
  src/components/flyout/flyout.tsx
  src/components/form/field_search/field_search.tsx
  src/components/form/range/dual_range.tsx
  src/components/form/super_select/super_select.tsx
  src/components/image/image.tsx
  src/components/modal/confirm_modal.test.tsx
  src/components/modal/modal.tsx
  src/components/nav_drawer/nav_drawer_flyout.tsx
  src/components/popover/input_popover.tsx
  src/components/popover/popover.test.tsx
  src/components/popover/popover.tsx
  src/components/resizable_container/helpers.ts
  src/components/search_bar/filters/field_value_selection_filter.tsx
  src/components/search_bar/search_bar.test.tsx
  src/components/selectable/selectable.tsx
  src/components/tool_tip/tool_tip.tsx
  src/components/tree_view/tree_view.tsx
  src/services/accessibility/accessible_click_keys.ts
  src/services/accessibility/cascading_menu_keys.ts
  src/services/accessibility/combo_box_keys.ts
  src/services/accessibility/index.ts
  src/services/index.ts
  src/services/keys.ts
  wiki/consuming.md
Labels: breaking change

#3556 Adding an overflow to round card images.
  CHANGELOG.md
  src/components/card/_card.scss
Labels: style only

#3537 [Docs] Add snippets to EuiHighlight and EuiMark
  src-docs/src/views/highlight_and_mark/highlight_and_mark_example.js
Labels: documentation

#3557 [Amsterdam] Use rounded corners and bolder titles for EuiCallout
  CHANGELOG.md
  src/components/flyout/_flyout_body.scss
  src/themes/eui-amsterdam/overrides/_call_out.scss
  src/themes/eui-amsterdam/overrides/_index.scss
Labels: Amsterdam, style only

#3576 websocket-extensions to 1.4
  packages/react-datepicker/yarn.lock
Labels: dependencies

#3566 Datagrid mount performance
  scripts/jest/setup/polyfills.js
  src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  src/components/datagrid/data_grid.tsx
  src/components/observer/resize_observer/resize_observer.tsx
Labels: data grid

#3570 Misc cleanup after resurecting
  package.json
  scripts/a11y-testing.js
  src-docs/src/views/selectable/selectable_custom_render.js
  src/components/selectable/selectable_list/selectable_list.tsx
  yarn.lock
Labels: accessibility, bug, dependencies

#3591 [EuiFilterButton] Fix Amsterdam style
  CHANGELOG.md
  src/themes/eui-amsterdam/overrides/_filter_group.scss
  src/themes/eui-amsterdam/overrides/_index.scss
Labels: Amsterdam, style only

#3599 [Amsterdam] Added rounded corners to inline EuiCode
  CHANGELOG.md
  src/themes/eui-amsterdam/global_styling/variables/_borders.scss
  src/themes/eui-amsterdam/overrides/_code.scss
  src/themes/eui-amsterdam/overrides/_index.scss
Labels: Amsterdam, style only

#3582 Enable undo/redo for markdown editor, apart from firefox
  src/components/markdown_editor/__snapshots__/markdown_editor.test.tsx.snap
  src/components/markdown_editor/markdown_actions.ts
  src/components/markdown_editor/markdown_editor.tsx
Labels: markdown editor

#3583 More aria attributes for Selectable
  src/components/selectable/selectable.tsx
  src/components/selectable/selectable_list/selectable_list.test.tsx
  src/components/selectable/selectable_list/selectable_list.tsx
Labels: accessibility, breaking change

#3602 Pass markdown parse results to application
  src-docs/src/views/markdown_editor/markdown_editor.js
  src-docs/src/views/markdown_editor/plugins/markdown_chart.js
  src-docs/src/views/markdown_editor/plugins/markdown_tooltip.js
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/markdown_format.tsx
Labels: markdown editor

#3620 [EuiSelectable] Adding more keyboard shortcuts and screen reader instructions
  src/components/selectable/selectable.tsx
  src/components/selectable/selectable_list/__snapshots__/selectable_list_item.test.tsx.snap
  src/components/selectable/selectable_list/selectable_list.tsx
  src/components/selectable/selectable_list/selectable_list_item.tsx
Labels: accessibility

#3628 Optimized in-memory datagrid mount performance
  src/components/datagrid/data_grid.tsx
  src/components/datagrid/data_grid_inmemory_renderer.tsx
Labels: data grid

#3642 [Docs] Add EuiColorPalettePicker to charts theming docs
  src-docs/src/views/elastic_charts/theming.js
Labels: documentation

#3665 [EuiSkipLink] Fix TS types and Safari click issue
  CHANGELOG.md
  src-docs/src/views/accessibility/skip_link.js
  src/components/accessibility/__snapshots__/skip_link.test.tsx.snap
  src/components/accessibility/_screen_reader.scss
  src/components/accessibility/index.ts
  src/components/accessibility/skip_link.test.tsx
  src/components/accessibility/skip_link.tsx
Labels: :urgent:
