Repository elastic/eui, pull requests merged in 2020-07, with the labels that each got.

#3432 Allow any character to be used in Query
  CHANGELOG.md
  src/components/search_bar/query/__snapshots__/ast_to_es_query_dsl.test.ts.snap
  src/components/search_bar/query/ast_to_es_query_dsl.test.ts
  src/components/search_bar/query/ast_to_es_query_string.test.ts
  src/components/search_bar/query/ast_to_es_query_string.ts
  src/components/search_bar/query/default_syntax.test.ts
  src/components/search_bar/query/default_syntax.ts
Labels: search bar

#3670 [EuiSelectable] Focus option after search value change
  src-docs/src/views/selectable/selectable_custom_render.js
  src/components/selectable/selectable.tsx
  src/components/selectable/selectable_list/selectable_list.tsx
  src/components/selectable/selectable_list/selectable_list_item.tsx
  src/components/selectable/selectable_search/selectable_search.test.tsx
  src/components/selectable/selectable_search/selectable_search.tsx
Labels: accessibility, breaking change

#3169 [Feature Branch] EuiSelectable accessibility
  CHANGELOG.md
  package.json
  scripts/a11y-testing.js
  src-docs/src/views/combo_box/combo_box_example.js
  src-docs/src/views/selectable/data.ts
  src-docs/src/views/selectable/selectable.tsx
  src-docs/src/views/selectable/selectable_custom_render.js
  src-docs/src/views/selectable/selectable_example.js
  src-docs/src/views/selectable/selectable_exclusion.tsx
  src-docs/src/views/selectable/selectable_messages.tsx
  src-docs/src/views/selectable/selectable_popover.js
  src-docs/src/views/selectable/selectable_search.tsx
  src-docs/src/views/selectable/selectable_single.tsx
  src/components/combo_box/__snapshots__/combo_box.test.tsx.snap
  src/components/combo_box/combo_box.tsx
  src/components/combo_box/combo_box_options_list/combo_box_options_list.tsx
  src/components/selectable/__snapshots__/selectable.test.tsx.snap
  src/components/selectable/selectable.test.tsx
  src/components/selectable/selectable.tsx
  src/components/selectable/selectable_list/__snapshots__/selectable_list.test.tsx.snap
  src/components/selectable/selectable_list/__snapshots__/selectable_list_item.test.tsx.snap
  src/components/selectable/selectable_list/_selectable_list.scss
  src/components/selectable/selectable_list/_selectable_list_item.scss
  src/components/selectable/selectable_list/selectable_list.test.tsx
  src/components/selectable/selectable_list/selectable_list.tsx
  src/components/selectable/selectable_list/selectable_list_item.tsx
  src/components/selectable/selectable_option.tsx
  src/components/selectable/selectable_search/__snapshots__/selectable_search.test.tsx.snap
  src/components/selectable/selectable_search/selectable_search.test.tsx
  src/components/selectable/selectable_search/selectable_search.tsx
  yarn.lock
Labels: accessibility, breaking change

#3697 [EuiMarkdownEditor] Better styles and class names
  src/components/markdown_editor/__snapshots__/markdown_editor.test.tsx.snap
  src/components/markdown_editor/_markdown_editor.scss
  src/components/markdown_editor/_markdown_editor_drop_zone.scss
  src/components/markdown_editor/_markdown_editor_footer.scss
  src/components/markdown_editor/_markdown_editor_preview.scss
  src/components/markdown_editor/_markdown_editor_text_area.scss
  src/components/markdown_editor/_markdown_editor_toolbar.scss
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/markdown_editor_drop_zone.tsx
  src/components/markdown_editor/markdown_editor_footer.tsx
  src/components/markdown_editor/markdown_editor_text_area.tsx
  src/components/markdown_editor/markdown_editor_toolbar.tsx
Labels: markdown editor

#3714 [Docs] Adding more acccessibility-focused notes and examples
  src-docs/src/views/flyout/flyout.js
  src-docs/src/views/flyout/flyout_banner.js
  src-docs/src/views/flyout/flyout_complicated.js
  src-docs/src/views/flyout/flyout_example.js
  src-docs/src/views/flyout/flyout_large.js
  src-docs/src/views/flyout/flyout_max_width.js
  src-docs/src/views/flyout/flyout_small.js
  src-docs/src/views/modal/modal_example.js
  src-docs/src/views/popover/popover.js
  src-docs/src/views/popover/popover_block.js
  src-docs/src/views/popover/popover_container.js
  src-docs/src/views/popover/popover_example.js
  src-docs/src/views/popover/popover_fixed.js
  src-docs/src/views/popover/popover_htmlelement_anchor.js
  src-docs/src/views/popover/trap_focus.js
  src-docs/src/views/tool_tip/tool_tip_example.js
Labels: accessibility, documentation

#3631 [EuiFocusTrap] Use `react-focus-on`
  CHANGELOG.md
  package.json
  src-docs/src/views/focus_trap/focus_trap.js
  src-docs/src/views/focus_trap/focus_trap_example.js
  src/components/collapsible_nav/__snapshots__/collapsible_nav.test.tsx.snap
  src/components/collapsible_nav/collapsible_nav.test.tsx
  src/components/color_picker/color_palette_picker/__snapshots__/color_palette_picker.test.tsx.snap
  src/components/color_picker/color_palette_picker/color_palette_picker.test.tsx
  src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  src/components/flyout/__snapshots__/flyout.test.tsx.snap
  src/components/flyout/flyout.test.tsx
  src/components/focus_trap/__snapshots__/focus_trap.test.tsx.snap
  src/components/focus_trap/focus_trap.test.tsx
  src/components/focus_trap/focus_trap.tsx
  src/components/form/super_select/__snapshots__/super_select.test.tsx.snap
  src/components/form/super_select/super_select.test.tsx
  src/components/modal/__snapshots__/confirm_modal.test.tsx.snap
  src/components/modal/__snapshots__/modal.test.tsx.snap
  src/components/modal/confirm_modal.test.tsx
  src/components/modal/modal.test.tsx
  src/components/popover/popover.tsx
  src/test/take_mounted_snapshot.ts
  yarn.lock
Labels: accessibility

#3769 Update consuming.md
  wiki/consuming.md
Labels: documentation

#3784 [EuiSelectable+EuiComboBox] recent regresion fixes
  CHANGELOG.md
  src/components/form/form_row/form_row.tsx
  src/components/selectable/selectable.tsx
  src/components/selectable/selectable_list/selectable_list_item.tsx
Labels: :urgent:, bug

#3764 Lodash bump
  CHANGELOG.md
  packages/eslint-plugin/yarn.lock
  packages/react-datepicker.js
  packages/react-datepicker/yarn.lock
  yarn.lock
Labels: dependencies

#3802 [EuiMarkdownEditor] Fixed firefox textarea margin
  src/components/markdown_editor/_markdown_editor_text_area.scss
Labels: markdown editor

#3748 [Markdown editor] drag and drop api, functionality
  src-docs/src/views/markdown_editor/markdown_editor.js
  src/components/markdown_editor/__snapshots__/markdown_editor.test.tsx.snap
  src/components/markdown_editor/_markdown_editor_drop_zone.scss
  src/components/markdown_editor/_markdown_editor_footer.scss
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/markdown_editor_drop_zone.tsx
  src/components/markdown_editor/markdown_editor_footer.tsx
  src/components/markdown_editor/markdown_editor_toolbar.tsx
  src/components/markdown_editor/markdown_types.ts
  src/components/markdown_editor/plugins/markdown_checkbox.tsx
  src/components/markdown_editor/plugins/markdown_tooltip.tsx
  src/components/tool_tip/tool_tip.tsx
Labels: markdown editor

#3832 Remove the popover arrow from datagrid expanded cells
  CHANGELOG.md
  src-docs/src/views/datagrid/schema.js
  src/components/datagrid/data_grid_cell.tsx
Labels: data grid

#3842 Prevent markdown plugin extensions from interacting with each other
  src-docs/src/views/markdown_editor/markdown_editor_with_plugins.js
  src/components/index.js
  src/components/markdown_editor/index.ts
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/markdown_format.tsx
  src/components/markdown_editor/plugins/markdown_default_plugins.tsx
Labels: markdown editor
