Repository elastic/eui, pull requests merged in 2020-08, with the labels that each got.

#3726 [DataGrid] Add will-change to CSS to improve performance in chrome full screen mode
  CHANGELOG.md
  src/components/datagrid/_data_grid.scss
Labels: data grid

#3843 Simplify the markdown editor's plugin API
  src-docs/src/views/markdown_editor/markdown_editor_with_plugins.js
  src-docs/src/views/markdown_editor/markdown_plugin_example.js
  src/components/markdown_editor/plugins/markdown_checkbox.tsx
  src/components/markdown_editor/plugins/markdown_default_plugins.tsx
  src/components/markdown_editor/plugins/markdown_tooltip.tsx
Labels: markdown editor

#3792 Update elastic charts to 20.0.2
  CHANGELOG.md
  package.json
  src-docs/src/views/elastic_charts/category_chart.js
  src-docs/src/views/elastic_charts/sizes.js
  src/components/common.ts
  src/themes/charts/themes.ts
  yarn.lock
Labels: dependencies

#3867 [Markdown] Support for markdown block text insertion
  src-docs/src/views/markdown_editor/markdown_editor.js
  src-docs/src/views/markdown_editor/markdown_editor_with_plugins.js
  src-docs/src/views/markdown_editor/markdown_plugin_example.js
  src/components/markdown_editor/markdown_actions.ts
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/markdown_editor_drop_zone.tsx
  src/components/markdown_editor/markdown_types.ts
Labels: markdown editor

#3894 Fix datagrid not fitting into containers
  CHANGELOG.md
  src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  src/components/datagrid/_data_grid.scss
  src/components/datagrid/data_grid.tsx
Labels: bug, data grid

#3893 Fix externally-needed markdown editor types
  src-docs/src/views/markdown_editor/markdown_editor_with_plugins.js
  src/components/markdown_editor/index.ts
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/markdown_types.ts
  src/components/markdown_editor/plugins/markdown_default_plugins.tsx
Labels: markdown editor, typescript

#3899 Fixes some ARIA issues in EuiMarkdownEditor
  src-docs/src/views/markdown_editor/markdown_editor_errors.js
  src/components/markdown_editor/__snapshots__/markdown_editor.test.tsx.snap
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/markdown_editor_footer.tsx
Labels: markdown editor

#3913 Update `caniuse-lite`
  yarn.lock
Labels: dependencies

#3919 Don't re-generate DataGridContext from pagination
  CHANGELOG.md
  src/components/datagrid/data_grid.tsx
Labels: data grid

#3937 [Docs] Updated form guidelines with friendly spellcheck
  src-docs/src/views/form_layouts/guidelines.js
Labels: documentation

#3931 ML icon updates
  CHANGELOG.md
  src-docs/src/views/icon/ml.js
  src/components/icon/__snapshots__/icon.test.tsx.snap
  src/components/icon/assets/app_app_search.js
  src/components/icon/assets/app_app_search.svg
  src/components/icon/assets/app_workplace_search.js
  src/components/icon/assets/app_workplace_search.svg
  src/components/icon/assets/ml_classification_job.js
  src/components/icon/assets/ml_classification_job.svg
  src/components/icon/assets/ml_create_advanced_job.js
  src/components/icon/assets/ml_create_advanced_job.svg
  src/components/icon/assets/ml_create_multi_metric_job.js
  src/components/icon/assets/ml_create_multi_metric_job.svg
  src/components/icon/assets/ml_create_population_job.js
  src/components/icon/assets/ml_create_population_job.svg
  src/components/icon/assets/ml_data_visualizer.js
  src/components/icon/assets/ml_data_visualizer.svg
  src/components/icon/assets/ml_outlier_detection_job.js
  src/components/icon/assets/ml_outlier_detection_job.svg
  src/components/icon/assets/ml_regression_job.js
  src/components/icon/assets/ml_regression_job.svg
  src/components/icon/icon.tsx
Labels: icons

#3952 Force rename/expansion of Primitive type -> boolean | number | string in docs
  scripts/babel/react-docgen-typescript.js
Labels: documentation

#3943 Enable EuiDataGrid's header navigation after mount
  CHANGELOG.md
  src/components/datagrid/data_grid.tsx
Labels: data grid

#3953 [Guidelines] Clarify punctuation rules for help text
  src-docs/src/views/guidelines/writing.js
Labels: documentation

#3951 Avoid focus fighting when a datagrid cell content has its own popover
  CHANGELOG.md
  src-docs/src/i18ntokens.json
  src/components/datagrid/data_grid_cell.tsx
Labels: data grid
