Repository elastic/eui, pull requests merged in 2020-11, with the labels that each got.

#4238 [EuiForm] Add a11y labels to the EuiCallOut for validation errors
  CHANGELOG.md
  src/components/form/__snapshots__/form.test.tsx.snap
  src/components/form/form.test.tsx
  src/components/form/form.tsx
Labels: accessibility

#4255 [EuiAvatar] Remove faux border
  CHANGELOG.md
  src/themes/eui-amsterdam/overrides/_avatar.scss
  src/themes/eui-amsterdam/overrides/_index.scss
Labels: Amsterdam, style only

#4242 [Amsterdam] Unify focus states
  CHANGELOG.md
  src-docs/src/views/button/button_ghost.js
  src-docs/src/views/icon/icon_colors.js
  src/components/breadcrumbs/_breadcrumbs.scss
  src/components/collapsible_nav/_collapsible_nav.scss
  src/components/color_picker/color_stops/_color_stops.scss
  src/components/combo_box/combo_box_input/_combo_box_input.scss
  src/components/combo_box/combo_box_options_list/_combo_box_option.scss
  src/components/context_menu/_context_menu_item.scss
  src/components/context_menu/_context_menu_panel.scss
  src/components/datagrid/_data_grid_column_sorting.scss
  src/components/datagrid/_data_grid_header_row.scss
  src/components/datagrid/_mixins.scss
  src/components/datagrid/column_sorting.tsx
  src/components/filter_group/_filter_select_item.scss
  src/components/form/form_control_layout/_form_control_layout.scss
  src/components/form/range/_range_slider.scss
  src/components/form/super_select/_super_select.scss
  src/components/link/_link.scss
  src/components/list_group/_list_group_item.scss
  src/components/tabs/_tabs.scss
  src/components/text/_text.scss
  src/components/tree_view/tree_view.scss
  src/global_styling/mixins/_button.scss
  src/global_styling/mixins/_form.scss
  src/global_styling/mixins/_states.scss
  src/global_styling/variables/_colors.scss
  src/global_styling/variables/_states.scss
  src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss
  src/themes/eui-amsterdam/eui_amsterdam_colors_light.scss
  src/themes/eui-amsterdam/global_styling/index.scss
  src/themes/eui-amsterdam/global_styling/mixins/_button.scss
  src/themes/eui-amsterdam/global_styling/mixins/_form.scss
  src/themes/eui-amsterdam/global_styling/mixins/_index.scss
  src/themes/eui-amsterdam/global_styling/mixins/_states.scss
  src/themes/eui-amsterdam/global_styling/reset/_index.scss
  src/themes/eui-amsterdam/global_styling/reset/_reset.scss
  src/themes/eui-amsterdam/global_styling/variables/_buttons.scss
  src/themes/eui-amsterdam/global_styling/variables/_index.scss
  src/themes/eui-amsterdam/global_styling/variables/_states.scss
  src/themes/eui-amsterdam/overrides/_button.scss
  src/themes/eui-amsterdam/overrides/_button_empty.scss
  src/themes/eui-amsterdam/overrides/_button_group.scss
  src/themes/eui-amsterdam/overrides/_form_control_layout.scss
  src/themes/eui-amsterdam/overrides/_form_controls.scss
  src/themes/eui-amsterdam/overrides/_header.scss
  src/themes/eui-amsterdam/overrides/_index.scss
  src/themes/eui/eui_colors_dark.scss
Labels: Amsterdam, accessibility, style only

#4268 [EuiDataGrid] Fix size of rightmost cell resizer
  CHANGELOG.md
  src/components/datagrid/_data_grid_column_resizer.scss
Labels: data grid

#4284 Updating Amsterdam colors to match brand
  CHANGELOG.md
  src-docs/src/components/guide_page/guide_page_chrome.js
  src-docs/src/views/button/button.js
  src-docs/src/views/guidelines/sass.js
  src/global_styling/functions/_colors.scss
  src/global_styling/variables/_buttons.scss
  src/global_styling/variables/_colors.scss
  src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss
  src/themes/eui-amsterdam/eui_amsterdam_colors_light.scss
  src/themes/eui-amsterdam/global_styling/reset/_reset.scss
  src/themes/eui-amsterdam/global_styling/variables/_buttons.scss
  src/themes/eui-amsterdam/global_styling/variables/_states.scss
  src/themes/eui-amsterdam/overrides/_button.scss
  src/themes/eui/eui_colors_dark.scss
Labels: Amsterdam, style only

#4269 [EuiDataGrid] Fix wrong columns assigned to leadColumns
  CHANGELOG.md
  src/components/datagrid/data_grid_data_row.tsx
Labels: data grid

#4305 [EuiSelectable] export SiteWideRenderOptions and wire-up `isPreFiltered`
  CHANGELOG.md
  src/components/index.js
  src/components/selectable/index.ts
  src/components/selectable/selectable.tsx
  src/components/selectable/selectable_search/selectable_search.test.tsx
  src/components/selectable/selectable_search/selectable_search.tsx
Labels: !urgent!
