Repository elastic/eui, pull requests merged in 2020-12, with the labels that each got.

#4343 [EuiDataGrid] Add sorting icon if the column is sorted
  CHANGELOG.md
  src/components/datagrid/_data_grid_header_row.scss
  src/components/datagrid/data_grid.test.tsx
  src/components/datagrid/data_grid_header_cell.tsx
Labels: data grid

#4346 [Data Grid] Added closePopover action to EuiDataGridColumnCellActionProps
  CHANGELOG.md
  src-docs/src/views/datagrid/column_cell_actions.js
  src-docs/src/views/datagrid/datagrid_styling_example.js
  src/components/datagrid/data_grid_cell.tsx
  src/components/datagrid/data_grid_cell_buttons.tsx
  src/components/datagrid/data_grid_cell_popover.tsx
  src/components/datagrid/data_grid_types.ts
Labels: !urgent!, data grid

#3978 [EuiResizableContainer] Allow collapsible panels
  CHANGELOG.md
  src-docs/src/views/resizable_container/resizable_container_basic.js
  src-docs/src/views/resizable_container/resizable_container_example.js
  src-docs/src/views/resizable_container/resizable_container_reset_values.js
  src-docs/src/views/resizable_container/resizable_container_three_panels.js
  src-docs/src/views/resizable_container/resizable_container_vertical.js
  src-docs/src/views/resizable_container/resizable_panel_collapsible.js
  src-docs/src/views/resizable_container/resizable_panel_collapsible_external.js
  src-docs/src/views/resizable_container/resizable_panel_collapsible_options.js
  src-docs/src/views/resizable_container/resizable_panels.js
  src-docs/src/views/resizable_container/resizable_resizer_size.js
  src/components/page/__snapshots__/page.test.tsx.snap
  src/components/page/_page.scss
  src/components/page/page.tsx
  src/components/panel/index.ts
  src/components/panel/panel.tsx
  src/components/resizable_container/__snapshots__/resizable_container.test.tsx.snap
  src/components/resizable_container/_index.scss
  src/components/resizable_container/_resizable_button.scss
  src/components/resizable_container/_resizable_collapse_button.scss
  src/components/resizable_container/_resizable_panel.scss
  src/components/resizable_container/_variables.scss
  src/components/resizable_container/context.tsx
  src/components/resizable_container/helpers.test.ts
  src/components/resizable_container/helpers.ts
  src/components/resizable_container/resizable_button.tsx
  src/components/resizable_container/resizable_collapse_button.tsx
  src/components/resizable_container/resizable_container.test.tsx
  src/components/resizable_container/resizable_container.tsx
  src/components/resizable_container/resizable_panel.tsx
  src/components/resizable_container/types.ts
Labels: breaking change

#4379 [deps] Bump ini
  packages/react-datepicker/yarn.lock
  yarn.lock
Labels: dependencies

#4296 Update TypeScript to v4
  CHANGELOG.md
  package.json
  src/components/basic_table/action_types.ts
  src/components/basic_table/expanded_item_actions.tsx
  src/components/color_picker/color_stops/color_stop_thumb.tsx
  src/components/control_bar/control_bar.tsx
  src/components/form/checkbox/checkbox_group.test.tsx
  src/components/markdown_editor/markdown_editor.tsx
  src/components/markdown_editor/plugins/markdown_default_plugins.tsx
  src/components/observer/resize_observer/resize_observer.test.tsx
  src/components/popover/input_popover.tsx
  src/components/selectable/selectable_list/selectable_list.tsx
  src/components/selectable/selectable_templates/__snapshots__/selectable_template_sitewide_option.test.tsx.snap
  src/components/selectable/selectable_templates/selectable_template_sitewide.test.tsx
  src/components/selectable/selectable_templates/selectable_template_sitewide_option.test.tsx
  src/components/selectable/selectable_templates/selectable_template_sitewide_option.tsx
  src/components/token/token.tsx
  src/services/copy_to_clipboard.ts
  src/services/utils.ts
  yarn.lock
Labels: breaking change
