Repository elastic/eui, pull requests merged in 2021-02, with the labels that each got.

#4477 [DATA GRID] Fix fullscreen scrolling issues
  CHANGELOG.md
  src/components/datagrid/data_grid.tsx
  src/components/datagrid/data_grid_body.tsx
Labels: data grid

#4494 [Docs] Remove avatar image from dg example
  src-docs/src/views/datagrid/column_actions.js
  src-docs/src/views/datagrid/column_cell_actions.js
  src-docs/src/views/datagrid/column_widths.js
  src-docs/src/views/datagrid/control_columns.js
  src-docs/src/views/datagrid/styling.js
Labels: documentation

#4538 Fixed disabled text styles in Safari (and iOS)
  CHANGELOG.md
  src/global_styling/mixins/_form.scss
  src/global_styling/reset/_reset.scss
  src/themes/eui-amsterdam/global_styling/reset/_reset.scss
Labels: style only

#4571 Add Github action to check for changelog edits
  .github/workflows/changelog.yml
Labels: platform, skip-changelog

#4581 Add more rules for changelog action
  .github/workflows/changelog.yml
Labels: skip-changelog

#4580 Increase start-server-and-test timeout to address CI timeouts
  package.json
Labels: skip-changelog
