Repository elastic/eui, pull requests merged in 2022-01, with the labels that each got.

#5512 [EuiSuperSelect] Remove popoverClassName and repositionOnScroll props
  CHANGELOG.md
  src-docs/src/views/flyout/flyout_complicated.js
  src/components/form/super_select/super_select.tsx
Labels: breaking change

#5513 Revert yarn.lock changes which resulted in 1.5MB bundle increase
  src/components/context_menu/__snapshots__/context_menu_panel.test.tsx.snap
  yarn.lock
Labels: skip-changelog, tech debt

#5510 [TESTING] Add Cypress Real Events for a11y UI testing
  cypress/support/commands.js
  cypress/support/index.d.ts
  cypress/support/index.js
  package.json
  src/components/accordion/accordion.spec.tsx
  src/components/context_menu/context_menu_panel.spec.tsx
  tsconfig-cypress.json
  wiki/cypress-testing.md
  yarn.lock
Labels: accessibility, test, skip-changelog, accessibility - automated

#5514 [EuiSearchBar] Allow phrases with leading and trailing spaces
  CHANGELOG.md
  src/components/search_bar/query/default_syntax.test.ts
  src/components/search_bar/query/default_syntax.ts
Labels: bug, breaking change

#5541 [EuiKeyPadMenuItem] Moves beta badge tooltip props to a wrapping EuiToolTip
  CHANGELOG.md
  src/components/badge/beta_badge/beta_badge.tsx
  src/components/key_pad_menu/__snapshots__/key_pad_menu_item.test.tsx.snap
  src/components/key_pad_menu/key_pad_menu_item.test.tsx
  src/components/key_pad_menu/key_pad_menu_item.tsx
Labels: breaking change

#5549 [Build] Exclude `test_custom_hook`; `optimize` assets
  .babelrc-optimize.js
  scripts/babel/proptypes-from-ts-props/index.js
  scripts/babel/proptypes-from-ts-props/index.test.ts
  scripts/compile-eui.js
  src/components/datagrid/controls/display_selector.test.tsx
  src/components/datagrid/utils/scrolling.test.ts
  src/test/index.ts
  src/test/test_custom_hook.test_helper.tsx
  wiki/testing.md
Labels: skip-changelog

#5557 [EuiDataGrid] Fix incorrect full screen height
  CHANGELOG.md
  src/components/datagrid/body/data_grid_body.test.tsx
  src/components/datagrid/body/data_grid_body.tsx
  src/components/datagrid/controls/data_grid_toolbar.test.tsx
  src/components/datagrid/controls/data_grid_toolbar.tsx
  src/components/datagrid/data_grid.tsx
  src/components/datagrid/data_grid_types.ts
  src/components/datagrid/utils/grid_height_width.ts
Labels: bug, data grid

#5559 [EuiDataGrid] Fix documentation examples with invalid React hook usage
  src-docs/src/views/datagrid/additional_controls.tsx
  src-docs/src/views/datagrid/column_actions.js
  src-docs/src/views/datagrid/column_cell_actions.js
  src-docs/src/views/datagrid/column_widths.js
  src-docs/src/views/datagrid/container.js
  src-docs/src/views/datagrid/control_columns.js
  src-docs/src/views/datagrid/datagrid.js
  src-docs/src/views/datagrid/display_callbacks.js
  src-docs/src/views/datagrid/flex.js
  src-docs/src/views/datagrid/footer_row.js
  src-docs/src/views/datagrid/in_memory.js
  src-docs/src/views/datagrid/in_memory_enhancements.js
  src-docs/src/views/datagrid/in_memory_pagination.js
  src-docs/src/views/datagrid/in_memory_sorting.js
  src-docs/src/views/datagrid/row_height_auto.tsx
  src-docs/src/views/datagrid/row_height_fixed.tsx
  src-docs/src/views/datagrid/row_line_height.tsx
  src-docs/src/views/datagrid/virtualization.js
  src-docs/src/views/datagrid/virtualization_constrained.js
Labels: documentation, skip-changelog

#5556 [EuiDataGrid] Fix inconsistent cell header focus when clicking another cell header when a cell header popover is already open
  CHANGELOG.md
  src/components/datagrid/body/header/data_grid_header_cell.test.tsx
  src/components/datagrid/body/header/data_grid_header_cell.tsx
Labels: bug, data grid

#5560 [EuiComboBox][KEYBOARD]: Removing `tabindex -1` from `EuiComboboxPill` SVG
  CHANGELOG.md
  src/components/combo_box/combo_box_input/combo_box_pill.tsx
Labels: WCAG A, accessibility - keyboard, accessibility - automated

#5568 Revising drag and drop for accessible interactive and complex patterns.
  CHANGELOG.md
  src-docs/src/views/drag_and_drop/drag_and_drop_complex.js
  src-docs/src/views/drag_and_drop/drag_and_drop_custom_handle.js
  src-docs/src/views/drag_and_drop/drag_and_drop_disable_blocking.js
  src-docs/src/views/drag_and_drop/drag_and_drop_example.js
  src/components/drag_and_drop/__snapshots__/draggable.test.tsx.snap
  src/components/drag_and_drop/draggable.test.tsx
  src/components/drag_and_drop/draggable.tsx
Labels: accessibility, WCAG A, accessibility - keyboard, accessibility - screen reader, accessibility - automated

#5582 [Accessibilty] Update `scss` file locations
  src/components/accessibility/_index.scss
  src/components/accessibility/screen_reader_only/_screen_reader_only.scss
  src/components/accessibility/skip_link/_skip_link.scss
Labels: skip-changelog
