Repository elastic/eui, pull requests merged in 2024-09, with the labels that each got.

#7998 [Emotion] Convert EuiDataGrid (Part 1)
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_FullscreenVRT_Full_Screen_With_Flyout.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_FullscreenVRT_Full_Screen_With_Header.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Virtualization.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_FullscreenVRT_Full_Screen_With_Flyout.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_FullscreenVRT_Full_Screen_With_Header.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Virtualization.png
  packages/eui/changelogs/upcoming/7998.md
  packages/eui/src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  packages/eui/src/components/datagrid/_data_grid.scss
  packages/eui/src/components/datagrid/_index.scss
  packages/eui/src/components/datagrid/_variables.scss
  packages/eui/src/components/datagrid/body/data_grid_body.styles.ts
  packages/eui/src/components/datagrid/body/data_grid_body.tsx
  packages/eui/src/components/datagrid/body/data_grid_body_custom.tsx
  packages/eui/src/components/datagrid/body/data_grid_body_virtualized.tsx
  packages/eui/src/components/datagrid/controls/full_screen_selector.stories.tsx
  packages/eui/src/components/datagrid/controls/fullscreen_selector.styles.ts
  packages/eui/src/components/datagrid/controls/fullscreen_selector.test.tsx
  packages/eui/src/components/datagrid/controls/fullscreen_selector.tsx
  packages/eui/src/components/datagrid/data_grid.stories.tsx
  packages/eui/src/components/datagrid/data_grid.styles.ts
  packages/eui/src/components/datagrid/data_grid.tsx
  packages/eui/src/components/datagrid/data_grid_types.ts
  packages/eui/src/components/datagrid/pagination/data_grid_pagination.styles.ts
  packages/eui/src/components/datagrid/pagination/data_grid_pagination.test.tsx
  packages/eui/src/components/datagrid/pagination/data_grid_pagination.tsx
  packages/eui/src/components/datagrid/pagination/index.ts
  packages/eui/src/components/datagrid/utils/scrolling.styles.ts
  packages/eui/src/components/datagrid/utils/scrolling.test.tsx
  packages/eui/src/components/datagrid/utils/scrolling.tsx
Labels: data grid, emotion

#7997 [Emotion] Convert EuiDataGrid toolbar control styles to Emotion
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Toolbar_Controls_Additional_Controls.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Toolbar_Controls_Column_Selector.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Toolbar_Controls_Column_Sorting.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Toolbar_Controls_Display_Selector.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Toolbar_Controls_Full_Screen_Toggle.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Toolbar_Controls_Keyboard_Shortcuts.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Toolbar_Controls_Render_Custom_Toolbar.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Toolbar_Controls_Additional_Controls.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Toolbar_Controls_Column_Selector.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Toolbar_Controls_Column_Sorting.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Toolbar_Controls_Display_Selector.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Toolbar_Controls_Full_Screen_Toggle.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Toolbar_Controls_Keyboard_Shortcuts.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Toolbar_Controls_Render_Custom_Toolbar.png
  packages/eui/.storybook/test.ts
  packages/eui/changelogs/upcoming/7997.md
  packages/eui/src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  packages/eui/src/components/datagrid/_index.scss
  packages/eui/src/components/datagrid/_variables.scss
  packages/eui/src/components/datagrid/controls/__snapshots__/column_selector.test.tsx.snap
  packages/eui/src/components/datagrid/controls/__snapshots__/column_sorting.test.tsx.snap
  packages/eui/src/components/datagrid/controls/__snapshots__/column_sorting_draggable.test.tsx.snap
  packages/eui/src/components/datagrid/controls/__snapshots__/data_grid_toolbar_control.test.tsx.snap
  packages/eui/src/components/datagrid/controls/__snapshots__/display_selector.test.tsx.snap
  packages/eui/src/components/datagrid/controls/__snapshots__/keyboard_shortcuts.test.tsx.snap
  packages/eui/src/components/datagrid/controls/_data_grid_column_selector.scss
  packages/eui/src/components/datagrid/controls/_data_grid_column_sorting.scss
  packages/eui/src/components/datagrid/controls/_data_grid_display.scss
  packages/eui/src/components/datagrid/controls/_data_grid_keyboard_shortcuts.scss
  packages/eui/src/components/datagrid/controls/_data_grid_toolbar.scss
  packages/eui/src/components/datagrid/controls/column_selector.styles.ts
  packages/eui/src/components/datagrid/controls/column_selector.test.tsx
  packages/eui/src/components/datagrid/controls/column_selector.tsx
  packages/eui/src/components/datagrid/controls/column_sorting.styles.ts
  packages/eui/src/components/datagrid/controls/column_sorting.tsx
  packages/eui/src/components/datagrid/controls/column_sorting_draggable.tsx
  packages/eui/src/components/datagrid/controls/data_grid_toolbar.stories.tsx
  packages/eui/src/components/datagrid/controls/data_grid_toolbar.styles.ts
  packages/eui/src/components/datagrid/controls/data_grid_toolbar.test.tsx
  packages/eui/src/components/datagrid/controls/data_grid_toolbar.tsx
  packages/eui/src/components/datagrid/controls/data_grid_toolbar_control.tsx
  packages/eui/src/components/datagrid/controls/display_selector.test.tsx
  packages/eui/src/components/datagrid/controls/display_selector.tsx
  packages/eui/src/components/datagrid/controls/keyboard_shortcuts.styles.ts
  packages/eui/src/components/datagrid/controls/keyboard_shortcuts.tsx
  packages/eui/src/components/datagrid/data_grid.test.tsx
Labels: data grid, emotion

#7996 chore: upgrade to docusaurus 3.5.2
  packages/docusaurus-theme/package.json
  packages/docusaurus-theme/src/theme/DocBreadcrumbs/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/Content/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/Footer/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/Layout/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/Metadata/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/Paginator/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/TOC/Desktop/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/TOC/Mobile/index.tsx
  packages/docusaurus-theme/src/theme/DocItem/index.tsx
  packages/docusaurus-theme/src/theme/DocRoot/Layout/Main/index.tsx
  packages/docusaurus-theme/src/theme/DocRoot/Layout/Sidebar/index.tsx
  packages/docusaurus-theme/src/theme/DocRoot/Layout/index.tsx
  packages/docusaurus-theme/src/theme/DocSidebarItem/Category/index.tsx
  packages/docusaurus-theme/src/theme/DocSidebarItem/Link/index.tsx
  packages/docusaurus-theme/src/theme/DocSidebarItems/index.tsx
  packages/website/package.json
  yarn.lock
Labels: skip-changelog

#8011 [Emotion] Convert EuiDataGrid cell popover, actions, and focus outline styles (Part 4)
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Cell_Actions.png
  packages/eui/.loki/reference/chrome_desktop_Tabular_Content_EuiDataGrid_Cell_Expansion_Popover.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Cell_Actions.png
  packages/eui/.loki/reference/chrome_mobile_Tabular_Content_EuiDataGrid_Cell_Expansion_Popover.png
  packages/eui/changelogs/upcoming/8011.md
  packages/eui/src/components/datagrid/__snapshots__/data_grid.test.tsx.snap
  packages/eui/src/components/datagrid/_data_grid_data_row.scss
  packages/eui/src/components/datagrid/_mixins.scss
  packages/eui/src/components/datagrid/_variables.scss
  packages/eui/src/components/datagrid/body/__snapshots__/data_grid_body_custom.test.tsx.snap
  packages/eui/src/components/datagrid/body/__snapshots__/data_grid_body_virtualized.test.tsx.snap
  packages/eui/src/components/datagrid/body/cell/__snapshots__/data_grid_cell.test.tsx.snap
  packages/eui/src/components/datagrid/body/cell/data_grid_cell.styles.spec.tsx
  packages/eui/src/components/datagrid/body/cell/data_grid_cell.styles.ts
  packages/eui/src/components/datagrid/body/cell/data_grid_cell.test.tsx
  packages/eui/src/components/datagrid/body/cell/data_grid_cell.tsx
  packages/eui/src/components/datagrid/body/cell/data_grid_cell_actions.styles.ts
  packages/eui/src/components/datagrid/body/cell/data_grid_cell_actions.test.tsx
  packages/eui/src/components/datagrid/body/cell/data_grid_cell_actions.tsx
  packages/eui/src/components/datagrid/body/cell/data_grid_cell_popover.spec.tsx
  packages/eui/src/components/datagrid/body/cell/data_grid_cell_popover.styles.ts
  packages/eui/src/components/datagrid/body/cell/data_grid_cell_popover.test.tsx
  packages/eui/src/components/datagrid/body/cell/data_grid_cell_popover.tsx
  packages/eui/src/components/datagrid/body/cell/focus_utils.spec.tsx
  packages/eui/src/components/datagrid/body/footer/data_grid_footer_row.test.tsx
  packages/eui/src/components/datagrid/body/header/__snapshots__/data_grid_header_cell.test.tsx.snap
  packages/eui/src/components/datagrid/body/header/_data_grid_header_row.scss
  packages/eui/src/components/datagrid/body/header/data_grid_header_cell_wrapper.styles.ts
  packages/eui/src/components/datagrid/body/header/data_grid_header_cell_wrapper.test.tsx
  packages/eui/src/components/datagrid/body/header/data_grid_header_cell_wrapper.tsx
  packages/eui/src/components/datagrid/body/header/data_grid_header_row.test.tsx
  packages/eui/src/components/datagrid/data_grid.stories.tsx
  packages/eui/src/components/datagrid/data_grid.stories.utils.tsx
  packages/eui/src/components/datagrid/data_grid.test.tsx
  packages/eui/src/components/datagrid/data_grid_types.ts
Labels: data grid, emotion

#8023 [Wiki] Add docs on how to deploy a local EUI package in Kibana
  wiki/contributing-to-eui/testing/testing-in-kibana.md
Labels: skip-changelog

#8029 [Docs] Update references to Sass/Emotion migration
  README.md
  packages/eui/README.md
  packages/eui/src-docs/src/components/codesandbox/link.js
  packages/eui/src-docs/src/components/guide_tabbed_page/guide_tabbed_page.tsx
  packages/eui/src-docs/src/views/guidelines/getting_started/_app_setup.tsx
  packages/eui/src-docs/src/views/guidelines/getting_started/_customizing.tsx
  packages/eui/src-docs/src/views/guidelines/getting_started/_tokens.tsx
  packages/eui/src-docs/src/views/guidelines/getting_started/getting_started.js
  packages/eui/src-docs/src/views/theme/_components/_theme_notice.tsx
  packages/eui/src-docs/src/views/theme/borders/borders.tsx
  packages/eui/src-docs/src/views/theme/consuming.tsx
  packages/eui/src-docs/src/views/theme/customizing/_sass.tsx
  packages/eui/src-docs/src/views/theme/customizing/values.tsx
  packages/eui/src-docs/src/views/theme/other/other.tsx
  packages/website/docs/01_guidelines/getting_started.mdx
  wiki/consuming-eui/README.md
Labels: documentation, skip-changelog, emotion

#8031 Delete zero usage Sass mixin/variable exports
  packages/eui/changelogs/upcoming/8031.md
  packages/eui/src-docs/src/services/playground/_playground_compiler.scss
  packages/eui/src/global_styling/mixins/_form.scss
  packages/eui/src/global_styling/mixins/_index.scss
  packages/eui/src/global_styling/mixins/_link.scss
  packages/eui/src/global_styling/mixins/_loading.scss
  packages/eui/src/global_styling/mixins/_range.scss
  packages/eui/src/global_styling/mixins/_states.scss
  packages/eui/src/global_styling/mixins/_tool_tip.scss
  packages/eui/src/global_styling/variables/_buttons.scss
  packages/eui/src/global_styling/variables/_form.scss
  packages/eui/src/global_styling/variables/_index.scss
  packages/eui/src/global_styling/variables/_page.scss
  packages/eui/src/global_styling/variables/_panel.scss
  packages/eui/src/global_styling/variables/_tool_tip.scss
  packages/eui/src/themes/amsterdam/global_styling/mixins/_index.scss
  packages/eui/src/themes/amsterdam/global_styling/mixins/_link.scss
  packages/eui/src/themes/amsterdam/global_styling/mixins/_states.scss
  packages/eui/src/themes/amsterdam/global_styling/variables/_buttons.scss
  packages/eui/src/themes/amsterdam/global_styling/variables/_index.scss
  packages/eui/src/themes/amsterdam/global_styling/variables/_page.scss
Labels: emotion

#8045 [Emotion] Delete distributed `*.css` files
  packages/docusaurus-theme/src/theme/Root.tsx
  packages/eui/changelogs/upcoming/8045.md
  packages/eui/cypress/support/component-index.html
  packages/eui/cypress/webpack.config.js
  packages/eui/scripts/compile-scss.js
Labels: breaking change, emotion
